@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<!--<h3>@ViewData["Message"]</h3>-->

<address>
    Украина<br />
    Чернигов<br />

</address>

<address>
    <strong>Email</strong> <a href="mailto:alexanderkomok1999@gmail.com">AlexanderKomok1999@gmail.com</a>

</address>