@model WebAppTry3.DBEntities.Track

@using WebAppTry3.DBEntities

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Track</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @*asp-action - indication of controller action*@
        <form asp-action="Create">
            @*asp-validation-summary="ModelOnly" - display of validation errors at the model level*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="User" class="control-label"></label>
                select asp-for="UserId" create list item for UserId
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="User.Id" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="PlayerState" class="control-label"></label>
                <select asp-for="PlayerState" class="form-control" asp-items="new SelectList(Enum.GetNames(typeof(PlayerState)))"></select>
            </div>
            <div class="form-group">
                <label asp-for="TrackUrl" class="control-label"></label>
                <input asp-for="TrackUrl" class="form-control" />
                <span asp-validation-for="TrackUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrackName" class="control-label"></label>
                <input asp-for="TrackName" class="form-control" />
                <span asp-validation-for="TrackName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
