@model List<WebAppTry3.DBEntities.Track>

@*@using WebAppTry3.Controllers

@model SomeModel*@

@{
    ViewData["Title"] = "Player";
}

@*@{
    var tracks = Model.Tracks;
    var albums = Model.Albums;
}*@

<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" language="javascript">
        $('TestButtonForAjax'.click(function () {
            $.ajax({
                type: "POST",
                url: "",
                data: '',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
            })
        })
    </script>
</head>
<body>
    <h2>YouTube Player</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <iframe width="560" height="315"                        
                        src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <form asp-action="CreateFromPlayer" asp-controller="Player">
                <div class="col-md-5">
                    <div class="form-group">
                        <input type="url" name="TrackUrl" class="form-control" placeholder="Insert your url" />
                    </div>
                </div>
                <div class="col-md-1">
                    <button id="TestButtonForAjax" type="submit" value="Save" class="btn btn-primary">Add</button>
                </div>
            </form>
            <div class="container">
                <div class="col-md-5">
                    <b>Now Playing</b>
                    <div class="list-item" id="playing">
                        @foreach (var song in Model)
                        {
                            @*Output play*@
                            if (song.AlbumName == "de3806c6-a386-4e7e-8d72-7fff891613a3")
                            {
                                <div class="item">
                                    <div class="name"><span>@song.TrackUrl</span></div>
                                </div>
                            }
                        }
                        </div>
                </div>
                <div class="col-md-5">
                    <b>List to play</b>
                    <div class="list-item" id="list-to-play">
                        <div class="item">
                            @foreach (var song in Model)
                            {
                                @*Output list to play*@
                                if (song.AlbumName == "fce69766-5c07-48aa-9291-4642283110c4")
                                {
                                    <div class="item">
                                        <div class="name"><span>@song.TrackUrl</span></div>
                                    </div>
                                }
                            }
                        </div>                      
                    </div>
                </div>
                <div class="col-md-5">
                    <b>History</b>
                    <div class="list-item" id="history">
                        <div class="item">
                            @*Output history playlist*@
                            @foreach (var song in Model)
                            {
                                if (song.AlbumName == "fc48bb47-169b-43c4-9fda-586f2454ffbd")
                                {
                                    <div class="item">
                                        <div class="name"><span>@song.TrackUrl</span></div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</body>
</html>

<style>
    .list-item {
        background-color: #ddd;
        padding: 2px;
    }

        .list-item .item {
            background-color: #efefef;
            padding: 5px 20px;
            margin: 2px;
        }

        .list-item[id='playing'] {
            background-color: #80e080;
        }

            .list-item[id='playing'] .item {
                background-color: #afffaf;
            }

                .list-item[id='playing'] .item:hover {
                    background-color: #80f080;
                }

                .list-item[id='playing'] .item:active {
                    background-color: #80d080;
                }

        .list-item .item:hover {
            background-color: #e0e0e0;
        }

        .list-item .item:active {
            background-color: #dadada;
        }
</style>
