@model WebAppTry3.Controllers.PlayerController.FullTrackList

@{
    ViewData["Title"] = "Player";
}
@ViewData["SomeMessage"]


@*<a>@User.FindFirst("UserName").Value</a>
    <a>@ViewData["EmailMessege"]</a>*@
<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/css/site"></script>
    <script src="~/js/PlayerScripts.js"></script>
</head>
<body>

    <h2>YouTube Player</h2>
    <div class="container">
        <div class="row">
            <div id="player" class="col-md-6">
                @*<iframe width="560" height="315"
                    src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <input type="url" id="TestUrlForAjax" class="form-control" placeholder="Insert your url" />
                </div>
            </div>
            <div class="col-md-1">
                <button id="TestButtonForAjax" value="Save" class="btn btn-primary">Add</button>
            </div>




            <div id="OutputTable">
                @Html.Partial("PlayerPartialView", Model)
            </div>


        </div>
    </div>
</body>
</html>

@*@section scripts {
    <script>
        //location.reload();

        
    </script>
}*@